<!doctype html>
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>MaterialOrder.com - Distributors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href="//static.materialorder.com/assets/transform-template-232c6e630a7a9487f65d6dbd2ef96a1a.css" rel="stylesheet" type="text/css" />
    <style>
        .link-cursor {
            cursor: pointer;
        }
    </style>
</head>

<script type="text/javascript">

</script>
<body data-ng-app="app"
      id="app"
      class="app"
      data-custom-page
      data-off-canvas-nav
      data-ng-class=" {'layout-boxed': admin.layout === 'boxed' } ">
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<section id="header"
         class="header-container "
         data-ng-class=" {'header-fixed': admin.fixedHeader} ">
    <header class="top-header clearfix">

        <!-- Logo -->
        <div class="logo">
            <a href="#/">
                <span>MO</span>
                <span class="logo-icon fa fa-truck"></span>
            </a>
        </div>

        <!-- needs to be put after logo to make it working-->
        <div class="menu-button" toggle-off-canvas>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>

        <div class="top-nav">
            <ul class="nav-left list-unstyled">
                <li>
                    <a href="#/" data-toggle-nav-collapsed-min
                       class="toggle-min"
                       id="step4"><i class="fa fa-bars"></i></a>
                </li>

                <li class="dropdown text-normal nav-profile">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">

                            <span class="hidden-xs">
                                <span data-ng-bind="currentSession.employeeName"></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu with-arrow">
                        <li>
                            <a href="#/my-settings">
                                <i class="fa fa-cog"></i>
                                <span data-i18n="My Settings"></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" data-ng-click="logout()">
                                <i class="fa fa-sign-out"></i>
                                <span data-i18n="Log Out"></span>
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>

    </header>
</section>

<div class="main-container">
    <app-navigation id="nav-container" class="nav-container" session="currentSession"></app-navigation>
    <section ui-view id="content" class="content-container animate-fade-up"></section>
</div>


<script type="text/javascript" src="/vendor.11acedb660cb889022cd.js"></script><script type="text/javascript" src="/app.6508a521b7e584a95929.js"></script></body>
</html>