<!doctype html>
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>Sunrise Electric Storefront - MaterialOrder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href="//static.materialorder.com/assets/transform-template-232c6e630a7a9487f65d6dbd2ef96a1a.css" rel="stylesheet" type="text/css" />
    <style>
        .link-cursor {
            cursor: pointer;
        }

        .angular-ui-tree-handle {
             cursor: pointer;
         }

        .angular-ui-tree-handle.selected {
            background-color: #94b758;
            color: #FFFFFF !important;
        }

        .tab-content {
            background-color: #FFFFFF;
        }

        .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
            z-index: 2;
            color: #fff;
            background-color: #337ab7;
            border-color: #337ab7;
        }

        .just-padding {
            padding: 15px;
        }

        .list-group.list-group-root {
            padding: 0;
            overflow: hidden;
        }

        .list-group-item {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        .list-group.list-group-root .list-group {
            margin-bottom: 0;
        }

        .list-group.list-group-root .list-group-item {
            border-radius: 0;
            border-width: 1px 0 0 0;
        }

        .list-group.list-group-root > .list-group-item:first-child {
            border-top-width: 0;
        }

        .list-group.list-group-root > div > .list-group > .list-group-item {
            padding-left: 30px;
        }

        .list-group.list-group-root > div > .list-group > .list-group > .list-group-item {
            padding-left: 45px;
        }

    </style>
</head>

<script type="text/javascript">

</script>
<body data-ng-app="app"
      id="app"
      class="app"
      data-custom-page
      data-off-canvas-nav
      data-ng-class=" {'layout-boxed': admin.layout === 'boxed' } ">
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<section id="header"
         class="header-container "
         data-ng-class=" {'header-fixed': admin.fixedHeader} ">
    <header class="top-header clearfix">

        <!-- Logo -->
        <div class="logo">
            <a href="#/" ng-bind-html="APP_LOGO">
            </a>
        </div>

        <!-- needs to be put after logo to make it working-->
        <div class="menu-button" toggle-off-canvas>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>

        <div class="top-nav">
            <ul class="nav-left list-unstyled">
                <li>
                    <a href="#/" data-toggle-nav-collapsed-min
                       class="toggle-min"
                       id="step4"><i class="fa fa-bars"></i></a>
                </li>

                <li class="dropdown text-normal nav-profile"  uib-dropdown>
                    <a href="javascript:void(0);" class="dropdown-toggle" uib-dropdown-toggle>
                        <span data-ng-bind="currentSession.employeeName"></span>
                    </a>
                    <ul class="dropdown-menu with-arrow"  uib-dropdown-menu>
                        <li>
                            <a href="#/my-settings">
                                <i class="fa fa-cog"></i>
                                <span data-i18n="My Settings"></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" data-ng-click="logout()">
                                <i class="fa fa-sign-out"></i>
                                <span data-i18n="Log Out"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </header>
</section>

<div class="main-container">
    <app-navigation id="nav-container" class="nav-container" session="currentSession"></app-navigation>
    <section ui-view id="content" class="content-container animate-fade-up"></section>
</div>

<script src="/vendor.db5697916140ad4dbd66.js"></script><script src="/app.d3434b171c216f639614.js"></script></body>
</html>