﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=612, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        html {
            width: 8.5in;
            padding: 0;
            margin: 0;
            font-family: Arial;
            font-size: 12pt;
            line-height: 14pt;
        }

        body {
            padding: 0 20px;
            margin: 0;
        }

        .order-details dl {
            margin: 0;
            padding: 0;
        }

            .order-details dl dt {
                float: left;
                width: 160px;
                overflow: hidden;
                clear: left;
                text-align: right;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: bold;
            }

            .order-details dl dd {
                margin-left: 180px;
            }

        dl.summary {
            margin: 0;
            padding: 0;
        }

            dl.summary dt {
                float: left;
                width: 160px;
                overflow: hidden;
                clear: left;
                text-align: right;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            dl.summary dd {
                text-align: right;
            }

        .page-break {
            page-break-after: always;
        }

        th, td {
            padding: 5px;
            border-right: 1px solid #cccccc;
        }

            th:last-child, td:last-child {
                border-right: 0;
            }

        tr:nth-child(even) {
            background-color: #f6f6f6;
        }

        tr {
            border-bottom: 1px solid #cccccc;
        }

        tbody > tr:last-child {
            border-bottom: 0;
        }

        table {
            border-collapse: collapse;
        }

        .quantity {
            width: 58px;
            text-align: right;
        }

        .unit {
            width: 38px;
            text-align: center;
        }

        .unit-price {
            width: 85px;
            text-align: center;
        }

        .total {
            width: 89px;
            text-align: right;
        }
    </style>
</head>
<body>

    <script id="page-header" type="text/x-handlebars-template">
        <div class="header">
            <div style="height: 20px;">&nbsp;</div>

            <div class="header" style="height: 1.25in;">
                <div class="origin-address" style="float: left;">
                    <strong>Sunrise Electric Supply, Inc.</strong><br />
                    130 S Addison Rd<br />
                    Addison, IL 60101<br />
                    Phone: 630-543-1111<br />
                    Fax: 630-543-1678<br />
                </div>
                <div class="order-details" style="float: right;">
                    <dl>
                        <dt>Order</dt>
                        <dd><strong>{{orderNumber}}</strong></dd>
                        {{#if poNumber}}
                        <dt>P.O. Number</dt>
                        <dd>{{poNumber}}</dd>
                        {{/if}}
                        {{#if requiredBy}}
                        <dt>Required By</dt>
                        <dd>{{requiredBy}} {{#if requiredByExtra}}<br />{{requiredByExtra}}{{/if}}</dd>
                        {{/if}}
                        <dt>Page</dt>
                        <dd>{{page}} of <span class="total-pages"></span></dd>
                    </dl>
                </div>
            </div>

            {{#if firstPage}}
            <div class="info" style="height: 1.25in;">
                <div class="bill" style="float: left;">
                    <strong>Bill To:</strong><br />
                    {{{billTo}}}
                </div>
                <div class="ship" style="float: right; ">
                    <strong>Ship To:</strong><br />
                    {{{shipTo}}}
                </div>
            </div>

            {{#if jobName}}
            <p>
                <strong>Job Name:</strong> {{jobName}}
            </p>
            {{/if}}

            {{#if onSite}}
            <p>
                <strong>On Site:</strong> {{onSite}}
            </p>
            {{/if}}
            {{/if}}

            {{#if note}}
            <p>{{note}}</p>
            {{/if}}
        </div>
    </script>


    <script id="table-template" type="text/x-handlebars-template">
        <table style="width: 100%">
            <thead>
                <tr>
                    <th class="description">Description</th>
                    <th class="quantity">Quantity</th>
                    {{#if showCost}}
                    <th class="unit-price amount">Unit Price</th>
                    <th class="total amount">Total</th>
                    {{/if}}
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </script>

<script id="item-template" type="text/x-handlebars-template">

        <tr>
            <td class="description">
                <span style="font-size: 110%;">{{title}}</span>
                {{#if description}}<br />{{description}}{{/if}}
                {{#if showProductInfo}}
                {{#if productName}}<br /><small>{{productName}}</small>{{/if}}
                {{#if productIdentifier}}<br /><small>{{productIdentifier}}</small>{{/if}}
                {{/if}}
            </td>
            <td class="quantity">{{quantity}} {{unit}}</td>
            {{#if showCost}}
            <td class="unit-price amount">{{unitPrice}}</td>
            <td class="total amount">{{total}}</td>
            {{/if}}
        </tr>
    </script>

<script id="child-template" type="text/x-handlebars-template">
        <tr>
            <td class="description" style="padding-left: 20px">
                <span style="font-size: 110%;">{{title}}</span>
                {{#if description}}<br />{{description}}{{/if}}
                {{#if showProductInfo}}
                {{#if productName}}<br /><small>{{productName}}</small>{{/if}}
                {{#if productIdentifier}}<br /><small>{{productIdentifier}}</small>{{/if}}
                {{/if}}
                <br /><small>{{quantity}} {{unit}} per {{parent}} {{#if showCost}}{{#if total}}({{total}}){{/if}}{{/if}}</small>                
            </td>
            <td class="quantity">{{totalQuantity}} {{unit}}</td>
            {{#if showCost}}
            <td class="unit-price">{{unitPrice}}</td>
            <td class="total">{{totalTotal}}</td>
            {{/if}}
        </tr>
    </script>

    <script id="transfer-row-template" type="text/x-handlebars-template">
        <tr>
            <td class="description">{{text}} page {{page}}...</td>
            <td></td>
            <td></td>
            <td class="total">{{total}}</td>
        </tr>
    </script>

    <script id="footer-template" type="text/x-handlebars-template">
        <div class="footer">
            <hr />
            <div style=" width: 300px;
                 position: relative;
                 left: 475px;">
                <dl id="subtotals" class="summary">
                    <dt><strong>Net Total</strong></dt>
                    <dd><strong>{{netTotal}}</strong></dd>
                    {{#each taxes}}
                    <dt>Sales Tax - {{tax}}%</dt>
                    <dd>{{total}}</dd>
                    {{/each}}
                </dl>
                <hr>
                <hr>
                <dl class="summary">
                    <dt><strong>Total</strong></dt>
                    <dd><strong>{{total}}</strong></dd>
                </dl>
            </div>
        </div>
    </script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <script>
  Number.prototype.formatMoney = function(c, d, t){
    var n = this,
        c = isNaN(c = Math.abs(c)) ? 2 : c,
        d = d == undefined ? "." : d,
        t = t == undefined ? "," : t,
        s = n < 0 ? "-" : "",
        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
        j = (j = i.length) > 3 ? j % 3 : 0;
    return "$" + s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
  };

  // #TOP

  window.data = {
    items: [
      {quantity: 40, title: "aaaaaaaaaaaaaa", description: "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaa aaaaaaaaaaa", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "aaaaaaaaa aaaaaaaaaaaaa aaaaaaaaaaaa aaaaaaaaaaaaaaaa aaaaaaaaaa", unitPrice: 1565.40, unit: "C", productName: "bbq", productIdentifier: "aaaa"},
      {quantity: 40, title: "aaaaaaa aaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaa", unitPrice: 1565.40, unit: "C"},
      {quantity: 4, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", description: "asdasdasjdkajskdjaskdjkasjdks", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C",
        children: [{quantity: 4, title: "ROB-ATD RGD CONDU", unitPrice: 1565.40, unit: "C"},
          {quantity: 40, title: "ROB-R 2-BRGD CONDU", unitPrice: 1565.40, unit: "C"},
          {quantity: 4, title: "ROB-R 2CD RGD CONDU", unitPrice: 1565.40, unit: "C"},
          { quantity: 40, title: "ROB-R DD RGD CONDU", description: "asdasdasjdkajskdjaskdjkasjdks", unitPrice: 1565.40, unit: "C" },
          {quantity: 40, title: "ROB-R 2E RGD CONDU", unitPrice: null, unit: "C"},
          {quantity: 4, title: "ROB-R 2FD RGD CONDU", unitPrice: 1565.40, unit: "C"},
          {quantity: 40, title: "ROB-R 2G RGD CONDU", unitPrice: 1565.40, unit: "C"},
          {quantity: 40, title: "ROB-R 2-1/HRGD CONDU", unitPrice: 1565.40, unit: "C"},
          { quantity: 40, title: "ROB-R 2-1/2ID CONDU", unitPrice: 1565.40, unit: "C", productName: "bbq", productIdentifier: "aaaa" }]
      },
      {quantity: 4, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 4, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 4, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      { quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: null, unit: "C" },
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 4, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"},
      {quantity: 40, title: "ROB-R 2-1/2 PVC CTD RGD CONDU", unitPrice: 1565.40, unit: "C"}
    ],
    details: {
      contractorAddress: ["DUBAK ELECTRICAL", "417 BLUFF AVE # 400", "LaGrange, IL 60525"],
      shipTo: ["NESTLE VITALITY",
        "1821 S. KILBOURN AVE.",
        "708-548-0091",
        "CHICAGO",
        "IL"],
      orderNumber: "MO20160101test",
      poNumber: "123456",
      requiredBy: "6/22/16",
      requiredByExtra: "noon asdf",
      onSite: "someone 123456",
      jobName: "Something",
      note: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend turpis velit, a consectetur ex fermentum ut. Aenean luctus non ex ac convallis. Etiam viverra purus eget ligula vehicula rutrum. Curabitur pulvinar ipsum eget cursus luctus. Sed interdum, tortor finibus dapibus sollicitudin, massa mauris finibus nisl, sed condimentum turpis quam non purus. Nam tincidunt ex a scelerisque scelerisque. Nulla volutpat imperdiet felis, id dictum felis rhoncus in. Mauris id nisi nisi. In diam mauris, eleifend at volutpat porta, scelerisque sed dui. Sed diam quam, aliquet a mauris eu, consequat placerat ex."
    },
    totals: {
      netTotals: [[7,123.52], [8, 123.52]],
      taxes: [[7, 4.52], [8,8.52]],
      netTotal: 230000.553,
      salesTax: 22,
      total: 2300.552
    },
    documentType: 3
  };

  // #BOTTOM

  document.addEventListener("DOMContentLoaded", function(event) {
      var details = window.data.details;
      
    function makeHeaderArguments(page) {
      return {
        firstPage: page === 1,
        shipTo: (details.shipTo ? details.shipTo : details.contractorAddress).join("<br/>"),
        billTo:  details.contractorAddress.join("<br/>"),
        jobName: details.jobName,
        page: page,
        requiredBy: details.requiredBy,
        requiredByExtra: details.requiredByExtra,
        orderNumber: details.orderNumber,
        poNumber: details.poNumber,
        note: details.note,
        onSite: details.onSite
      }
    }

    var showAmounts = window.data.documentType != 2;
    
    var pageHeader = Handlebars.compile($('#page-header').html());



    var footerData = {
      netTotal: window.data.totals.netTotal.formatMoney(2),
      netTotals: [],
      taxes: [],
      salesTax: window.data.totals.salesTax.formatMoney(2),
      total: window.data.totals.total.formatMoney(2)
    };

    for(var i = 0; i < window.data.totals.netTotals.length; i++){
      var e = window.data.totals.netTotals[i];
      footerData.netTotals.push({tax: e[0], total: e[1].formatMoney(2)});
    }

    for(var i = 0; i < window.data.totals.taxes.length; i++){
      var e = window.data.totals.taxes[i];
      footerData.taxes.push({tax: e[0], total: e[1].formatMoney(2)})
    }

    var footer =  Handlebars.compile($('#footer-template').html())(footerData);

    var fn = $(footer).appendTo('body');
    var footerHeight = fn.get(0).getBoundingClientRect().height;
    fn.remove();

    var oph = $(pageHeader(makeHeaderArguments(2))).appendTo('body');


    var headerHeight = oph.get(0).getBoundingClientRect().bottom;
    oph.remove();


    $('body').append(pageHeader(makeHeaderArguments(1)));

    var currentPage = 1;
    var totalPages = 1;

    var tableTemplate = Handlebars.compile($('#table-template').html());
    var rowTemplate = Handlebars.compile($('#item-template').html());
    var subTotalRowTemplate = Handlebars.compile($('#transfer-row-template').html());
    var childRowTemplate =Handlebars.compile($('#child-template').html());



    var currentTable = $(tableTemplate({
      showCost: showAmounts
    })).appendTo('body');

    var tbody = currentTable.get(0).getElementsByTagName("tbody")[0];

    var currentHeight = currentTable.get(0).getBoundingClientRect().top;
    var itemRows = [];
    var rowsToPushOnNextPage = [];

    var itemsOnPage = [];
    var currentSubItems = [];
    var previousTableBody = null;

    var pages = 1;
    var subtotal = 0;

    function startNewPage(itemsToMove) {
      currentPage++;
      totalPages++;
      var nextItemsOnPage = [];

      for(var j = 0; j < itemsToMove; j++) {
        var row = itemRows[itemRows.length - j - 1];
        if(j >= currentSubItems.length)
          nextItemsOnPage.push(itemsOnPage.pop());
        rowsToPushOnNextPage.push(row);
        tbody.removeChild(row);
      }


      for(var j = 0; j < itemsOnPage.length; j++) {
        subtotal += itemsOnPage[j].quantity * itemsOnPage[j].unitPrice;
      }

      if (showAmounts) {
        $(subTotalRowTemplate({
          total: subtotal.formatMoney(2),
          text: "Transferred to",
          page: currentPage
        })).appendTo(tbody);

        rowsToPushOnNextPage.push(tr.get(0));
      }


      var pb = document.createElement("div");
      pb.className = "page-break";
      document.body.appendChild(pb);


      $('body').append(pageHeader(makeHeaderArguments(currentPage)));

      previousTableBody = tbody;

      currentTable = $(tableTemplate({
        showCost: showAmounts
      })).appendTo('body');

      tbody = currentTable.get(0).getElementsByTagName("tbody")[0];

      currentHeight = headerHeight;

      if (showAmounts) {

        $(subTotalRowTemplate({
          total: subtotal.formatMoney(2),
          text: "Transferred from",
          page: currentPage - 1
        })).appendTo(tbody);


      }

      for(var j = 0; j < rowsToPushOnNextPage.length; j++) {
        $(tbody).append(rowsToPushOnNextPage[j]);
        currentHeight += rowsToPushOnNextPage[j].getBoundingClientRect().height;
      }

      itemsOnPage = nextItemsOnPage;
      currentSubItems.length = 0;
      rowsToPushOnNextPage.length = 0;

    }

    for(var i = 0; i < window.data.items.length; i++) {
      //var tr = rowTemplate.cloneNode(true);
      var item = window.data.items[i];

      var tr = $(rowTemplate({
          showProductInfo: window.data.documentType === 3 && (item.productName || item.productIdentifier),
          productName: item.productName,
          productIdentifier: item.productIdentifier,
        showCost: showAmounts,
        title: item.title,
          description: item.description,
          unitPrice: item.unitPrice ? item.unitPrice.formatMoney(2) : "",
          quantity: item.quantity,
          unit: item.unit,
          total: item.unitPrice ? (item.quantity * item.unitPrice).formatMoney(2) : ""
      })).appendTo(tbody);

      itemRows.push(tr.get(0));

      var rect = tr.get(0).getBoundingClientRect();

      currentHeight += rect.height;

      itemsOnPage.push(item);

      if(currentHeight >= 960) {
        startNewPage(1);
      }

      if(item.children && item.children.length > 0) {
        for (var j = 0; j < item.children.length; j++) {
          var childItem = item.children[j];
          tr = $(childRowTemplate({
              showProductInfo: window.data.documentType === 3 && (childItem.productName || childItem.productIdentifier),
              productName: childItem.productName,
              productIdentifier: childItem.productIdentifier,
            showCost: showAmounts,
            title: childItem.title,
            description: childItem.description,
            unitPrice: childItem.unitPrice ? childItem.unitPrice.formatMoney(2) : "",
            quantity: childItem.quantity,
            unit: childItem.unit,
            total: childItem.unitPrice ? (childItem.quantity * childItem.unitPrice).formatMoney(2) : "",
            totalQuantity: item.quantity * childItem.quantity,
            parent: item.title,
            totalTotal: childItem.unitPrice && item.unitPrice ? (childItem.quantity * item.quantity * childItem.unitPrice).formatMoney(2) : ""
          })).appendTo(tbody);



          itemRows.push(tr.get(0));

          currentHeight += tr.get(0).getBoundingClientRect().height;

          currentSubItems.push(childItem);

          if(currentHeight >= 960) {
            startNewPage(1);
          }
        }
      }
    }

    if (showAmounts) {
      if (currentHeight + footerHeight > 940) {
        startNewPage(2);
      }

      $(footer).appendTo('body');
    }

    var totalPageNodes = document.getElementsByClassName("total-pages");

    for (var i = 0; i < totalPageNodes.length; i++) {
      totalPageNodes[i].innerText = totalPages.toString();
    }

    window.status = 'pdf_done';
  });
    </script>

</body>
</html>